@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* --color-bg-1: 29 29 29;
		--color-bg-2: 23 23 23; */
		--color-green: 106 192 62;
		--color-blue: 0 117 255;
	}
    :root[theme = "dark"] {
		--text-secondary: 145 145 145;
		--input-gray: 40 40 40;
		--text-primary: 255 255 255;
		--color-bg-1: 29 29 29;
		--color-bg-2: 23 23 23;
		--border-color1: 255 255 255;
    }
    :root[theme = "light"] {
		--input-gray: 255 255 255;
		--text-primary: 45 45 45;
		--text-secondary: 127 127 127;
		--color-bg-1: 220 220 220;
		--color-bg-2: 200 200 200;
		--border-color1: 100 100 100 ;
    }
}
